<% provide(:title, 'All users') %>
<h1>All users</h1>

<!--  ユーザー検索  -->
<%= render 'shared/search' %>

<%= will_paginate renderer: BootstrapPagination::Rails %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate renderer: BootstrapPagination::Rails %>
