<% if micropost.hashtags.any? %>
  <%= micropost.content.gsub(/#.*$/, "") %>
  <p>
  <% micropost.hashtags.each do |hashtag| %>
    <% if micropost.content.match(/##{hashtag.name}/) %>
      <%= return_url("/microposts/#{hashtag.name}", "##{hashtag.name}").html_safe %>
    <% end %>
  <% end %>
  </p>
<% else %>
  <%= micropost.content %>
<% end %>
