<footer class="footer">
  <small>
    <% if Rails.env.development? %>
    <a href="http://twitter.com/">twitter.com</a>
    <% end %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", new_contact_path %></li>
    </ul>
  </nav>
</footer>
