<% if signed_in? %>

<!-- モーダル表示用のボタン -->
<button type="button" class="btn img_cu_btn" data-toggle="modal" data-whatever="micropost" data-target="#repostModal">
  <%= fa_icon 'retweet 2x' %>
</button>

<% end %>
